<html>

<head>
    <meta charset="UTF-8">
    <title>Smart Interview System</title>
    <link rel="stylesheet" href="style.css">
    <script async src="javascript.js"></script>
</head>

<body>
    <div id="container">
        <h1>Smart Interview System</h1>
        <p class="para">Welcome to the Smart Interview System. Please select an option below:</p>
        <a href="nextpage.htm">

       <button id="startInterview">Start Interview</button> </a>
     
    </div>
<script>

</script>
</body>
</html>